
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;
}

.navbar-brand img {
    height: 50px;
}

.b-style {
    background-color: #d11b76;
    color: white;
    padding: 10px;
}

.colors {
    background-color: #f4f0e8;
}
.navbar {
    margin-left: 5%;
}

.card-footer {
    background-color: white;
    border: 0;
    text-align: end;
}

h4{
    text-align: start;
    color: #d11b76;
}

.card-title .card-text {
    text-align:justify;
}

.size-img img {
    height: 70px;
    width: 70px;
}

.img-size img {
    height: 440px;
    width: 550px;
    margin-left: 25px;
}

.card-img-top {
    height: 65%;
}

.end-area {
    color: white;
    background-color: black;
    text-align: center;
    margin: 15px;
    padding: 20px;
    border-radius: 15px;
}

#btn {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.foot {
    font-size: 12px;
    text-align: center;
}


